@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
    margin-left: 5px;
}
 

 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #D7DBE3;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #828585;
}

@font-face {
    font-family: "UltraExtendedBold";
    src: url("/src/fonts/MTSUltraExtended-Bold.ttf");
}

@font-face {
    font-family: "CompactRegular";
    src: url("/src/fonts/MTSCompact-Regular.ttf");
}

@font-face {
    font-family: "CompactMedium";
    src: url("/src/fonts/MTSCompact-Medium.ttf")
}

@font-face {
    font-family: "TextRegular";
    src: url("/src/fonts/MTSText-Regular.ttf")
}

@font-face {
    font-family: "TextMedium";
    src: url("/src/fonts/MTSText-Medium.ttf");
}

@font-face {
    font-family: "Wide";
    src: url("/src/fonts/MTSWide-Medium.ttf")
}


label {
    font-family: "CompactRegular";
   
}

::placeholder {
    font-family: "CompactRegular";
}

button {
    font-family: "TextMedium";
}

h2 {
    font-family: "Wide";
}